@import './variables.scss';
.section-booking {
  background: url('/img/pixel-bkg/h3-background-img-3.jpg') no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  .booking {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    span:not(.powered) {
      width: 60px;
      text-align: center;
      color: $text-white;
    }
    .persons,
    .date,
    .time {
      position: relative;
    }
    i {
      position: absolute;
      top: 20px;
      right: 20px;
      color: $text-gold;
      font-size: 20px;
    }
    input {
      height: 60px;
      width: 240px;
      padding-left: 20px;
      border: 2px solid $input-border;
    }
    button {
      margin-left: 60px;
    }
  }
  .powered {
    position: absolute;
    bottom: -30px;
    left: 0;
    color: $text-white;
  }
}
