@import './header.scss';

footer {
  width: 100%;
  background-color: $bkg-dark;
  display: flex;
  min-height: 700px;
  background: url('/img/pixel-bkg/bkg.jpg');

  .footer-info {
    position: relative;
    width: 50%;
    padding: 100px 50px 100px 30px;
    display: flex;
    justify-content: space-between;

    .cause {
      text-transform: uppercase;
      font-size: 25px;
      width: 300px;
      color: $text-white;
      margin-left: 50px;
    }
  }
  .footer-image {
    width: 50%;
    background: url('/img/pixel-bkg/footer-img-1.jpg') no-repeat;
    background-size: cover;
  }
}
h3,
h5 {
  color: $text-gold;
}
h3 {
  padding-bottom: 20px;
}
h5 > span,
.closed {
  color: $text-orange-red;
}
p {
  color: $text-gray;
}
.restaurant :last-child {
  margin-bottom: 20px;
}
.working-hours p {
  padding-bottom: 20px;
}
.socials {
  display: flex;
  margin-top: 40px;
}
.socials span {
  margin: 0 2px;
}
.created {
  position: absolute;
  bottom: 10px;
  color: $text-gold;

  span {
    cursor: pointer;
    color: #339966;
  }
}
