@import './variables.scss';
@import './label-prev-next.scss';

header {
  width: 100%;
  background-color: $bkg-dark;
  color: $text-white;
  padding: 20px 0;

  .navbar {
    margin: 0 auto;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
      display: flex;
      align-items: center;

      .menu-left,
      .menu-right,
      .navbar-right {
        text-transform: uppercase;
      }

      ul:not(.right) {
        list-style: none;
        display: flex;
        li {
          display: flex;
          align-items: center;
          margin: 0 40px;
          img:not(.hover) {
            margin-right: 5px;
            filter: invert(1);
            width: 25px;
          }
          .hover {
            margin-right: 5px;
            width: 25px;
            display: none;
          }
        }
        li:hover .default {
          display: none;
        }
        li:hover .hover {
          display: block;
        }
      }
    }
  }
}
.navbar-right {
  width: 240px;
  ul.right {
    list-style: none;
    display: flex;
    justify-content: end;
    li {
      display: flex;
      align-items: center;
      margin: 0 10px;
      i {
        margin-right: 5px;
      }
      img {
        margin-right: 5px;
        filter: invert(1);
        height: 20px;
      }
    }
  }
  ul.right:first-child {
    position: relative;
  }
  .current-cart {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: $bkg-no-pure-white;
    border-radius: 100%;
    top: -5px;
    line-height: 15px;
    color: $text-orange-red;
    text-align: center;
    font-size: 12px;
  }
}

li {
  cursor: pointer;
  &:hover {
    color: $text-orange-red;
  }
  &:hover .current-cart {
    background-color: $bkg-orange-red;
    color: $text-white;
  }
}
.logo {
  height: 100px;
  margin: 0 40px;
  img {
    height: 100px;
  }
}

.jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .jumbo-focus {
    width: $container-width;
    height: 450px;
    display: flex;
    justify-content: center;
  }
}
