@import './variables.scss';
@import './label-prev-next.scss';

header {
  background-color: $bkg-dark;
  color: $text-white;
  padding: 20px 0;

  .navbar {
    margin: 0 auto;
    width: $container-width;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      display: flex;
      align-items: center;
    }
  }
}
.menu-left,
.menu-right,
.navbar-right {
  text-transform: uppercase;
}

ul {
  list-style: none;
  display: flex;
  li {
    margin: 0 20px;
  }
}

.logo {
  height: 100px;
  margin: 0 40px;
  img {
    height: 100%;
  }
}

.jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .jumbo-focus {
    width: $container-width;
    height: 450px;
    display: flex;
    justify-content: center;
  }
}
