@import './variables.scss';
@import './label-prev-next.scss';

header {
  width: 100%;
  background-color: $bkg-dark;
  color: $text-white;
  padding: 20px 0;
  background: url('/img/pixel-bkg/bkg.jpg');
  font-weight: 900;
  text-transform: uppercase;
}

nav {
  margin: 0 auto;
  max-width: $container-width;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
.cart {
  min-width: 200px;
}

.default,
.hover,
.cart-ico {
  margin-right: 5px;
  width: 25px;
}
.default,
.cart-ico {
  filter: invert(1);
}

.hover{
  display: none;
}

.logo {
  height: 100px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}
li {
  display: flex;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}

li:hover{
  color: $text-orange-red;
}

.menu {
  margin: 0 20px;
}

.cart{
  position: relative;
}
.current-cart {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: $bkg-no-pure-white;
  color: $text-orange-red;
  border-radius: 100%;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  top: -5px;
  left: 30px;
}


ul.right {
  margin-left: 40px;
  li {
    margin:0;
    margin-right: 20px;
  }
  i{
    margin-right: 5px;
  }
}

.cart-link:hover .current-cart{
  color:$text-white;
  background-color: $bkg-orange-red;
}

.home:hover .default{
  display:none;
}
.home:hover .hover{
  display:block;
}

.jumbotron{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
}

.jumbo-focus {
  width: $container-width;
  height: 450px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1200px) {

  nav{
    flex-wrap: wrap;
  }
  button{
    display: none;
  }
  .logo{display:none;}

  .menu, .cart{
    margin: 0;
  }
  ul.right{
    margin: 0;
  }
  li{
    margin: 0 10px;
  }
  .current-cart{
    left: -5px;
  }
}


