@import './variables.scss';

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

button{
    background-color: $btn-orange;
    text-transform: uppercase;
    padding: 10px 20px;
    color:$text-white;
}

//LABELS PREv NEXT
.label {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: $labels-bkg;
    
  }
  .label.prev{
    margin-left: -90px;
  }
  .label.next{
    margin-right: -90px;
  }
