@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './variables.scss';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

button {
  background-color: $btn-orange;
  text-transform: uppercase;
  padding: 10px 20px;
  color: $text-white;
}

.hide {
  display: none;
}