@import './variables.scss';

.section-team {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  .team {
    width: calc(100% / 4);
    &:hover {
      background: url('/img/pixel-bkg/bkg-pixel-news.png');
      padding: 30px;
    }
    &:hover img {
      display: none;
    }
    &:hover .member {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .member {
      display: none;
      width: 100%;
      height: 100%;
      background-color: $bkg-orange-red;
      color: $text-white;

      .mansions {
        display: flex;

        p {
          padding: 5px;
          color: $text-no-pure-white;
        }
      }
      .socials i {
        padding: 5px;
        font-size: 20px;
      }
    }
  }
}
