//BUTTON
$btn-orange: #d2401e;

//TEXT-COLOR
$text-white: #FFFFFF;
$text-black:#000000;
$text-gold:#B7903C;
$text-orange:#AB4027;
$text-orange-red:#D2401E;
$text-gray:#A6A6A6;
$text-no-pure-white:#CDCDCD;

//BACKGROUND
$bkg-dark: #1c1c1c;
$bkg-testimonials:#F6F7F2;
$bkg-gold:#B7903C;
$bkg-light-gray:#E4E4D4;
$bkg-no-pure-white:#EBEBDE;
$bkg-orange-red:#C83B1A;

//NEXT-PREV LABELS
$labels-bkg:#FFFFFF;

$container-width:1200px;
$container-testimonials:800px;

//Borders
$input-border:#1F1F1F;